@import "./assets/Fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --scrollbar-width: 16px;
}

@layer base { 
  html {
    font-family: "Vazir"; 
    min-height:100svh;
  }



}
@layer utilities{
  .button{
    padding-inline:20px;
    box-shadow: 0 0 30px #fff , 0 0 20px #ffffff , inset  0 0 5px #fff;
    background: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .button:hover,.Darkbutton:hover{
   filter: contrast(1.5);
   scale: 110%;
   backdrop-filter:contrast(2);

  }
  .Darkbutton{
    padding-inline:20px;
    box-shadow: 0 0 5px #000 , 0 0 10px #000000 , inset 0 0 0px #000;
    border-radius: 30px;
    padding: 5px 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .Darkbutton:disabled,.button:disabled{
    opacity: 0.2;
    cursor: not-allowed;
  }
  .input{
    padding-inline:20px;
    box-shadow: 0 0 5px #000 , 0 0 10px #000000 , inset 0 0 5px #000;
    border-radius: 10px;
    padding: 5px 10px;
    direction: rtl;
    color: black;
  }
  .input:focus{
    outline: none;
  }
  .form{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 0.2rem;
    justify-content: space-between;
    width: 20%;
    padding: 20px 0 30px;
    top:10svh;
    right: 40%;
    box-shadow: 0 0 30px #000 , 0 0 20px #000000 , inset 0 0 5px #000;
    border-radius: 1.5rem;
    text-align: center;
    background: #d5532057;
  }
  .formLabel{
    color: #000000;
    text-shadow: 0 0 5px #fff;
  }

}

@media (width <= 1024px){
  .form{
    width: 70%;
    right:15%
  }
  .input{
    width: 60%;
  }

}