@import "./assets/Fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base { 
  :root {
    --color-lightBrown: #c9a07e;
    --color-darkBrown: #6d3100;
    --color-lightOrange: #d5532057;
    --color-lightBlue: #87ceeb;
    --color-darkRed: #d02727;
  }
  html {
    font-family: "Vazir"; 
    min-height:100svh;
  }

}




/* _____________________________________________________________________________________________________ */


@layer utilities{
  .button{
    padding-inline:20px;
    box-shadow: 0 0 30px #fff , 0 0 20px #ffffff , inset  0 0 5px #fff;
    background: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .button:hover,.Darkbutton:hover{
   filter: contrast(1.5);
   scale: 110%;
   backdrop-filter:contrast(2);

  }
  .Darkbutton{
    padding-inline:20px;
    box-shadow: 0 0 5px #000 , 0 0 10px #000000 , inset 0 0 0px #000;
    border-radius: 30px;
    padding: 5px 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .Darkbutton:disabled,.button:disabled{
    opacity: 0.2;
    cursor: not-allowed;
  }
  .input{
    padding-inline:20px;
    box-shadow: 0 0 5px #000 , 0 0 10px #000000 , inset 0 0 5px #000;
    border-radius: 10px;
    padding: 5px 10px;
    direction: rtl;
    color: black;
  }
  .input:focus{
    outline: none;
  }
  .form{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 0.2rem;
    justify-content: space-between;
    width: 20%;
    padding: 20px 0 30px;
    top:10svh;
    right: 40%;
    box-shadow: 0 0 30px #000 , 0 0 20px #000000 , inset 0 0 5px #000;
    border-radius: 1.5rem;
    text-align: center;
    background: #d5532057;
    z-index: 10;
  }
  .formLabel{
    color: #000000;
    text-shadow: 0 0 5px #fff;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-lightOrange);
    border-radius: 6px ;
    border: 1px solid #00000066;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-darkBrown);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-lightBrown);
    border: 1px solid #000
  }
  .titles{
    padding-inline:20px;
    box-shadow: 0 0 5px 2px #0000007b , inset 0 0 3px #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: var(--color-lightBrown);
    text-align: center; 
    width: 50%;
    right: 25%;
  }
  .mainPageComponent{
    position: relative;
    height: fit-content;
    min-height: 71svh;
    right: 16rem;
    width:calc(100svw - 18rem) ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 30px;
    column-gap:20px;
  }
  .maskForImages{
    mask-border-source: url('./assets/images/images_mask.png');
    mask-size:contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }


/* Animations */
@keyframes wobbling {
			
        
        0% {
          transform:rotate(0deg);
          transform-origin:50% 0;
        }
        10% {
          transform:rotate(2deg);
        }
        20% {
          transform:rotate(-4deg);
        }
        30% {
          transform:rotate(4deg);
        }

        60% {
          transform:rotate(-4deg);
        }
        70% {
          transform:rotate(4deg);
        }
        80% {
          transform:rotate(-2deg);
        }
        90% {
          transform:rotate(2deg);
        }
        100% {
          transform:rotate(0deg);
          transform-origin:50% 0;
        }
	}
.wobble_animation{
  animation: wobbling 10s linear 0s infinite alternate forwards;
}



}



@media (width <= 1024px){
  .form{
    width: 70%;
    right:15%
  }
  .input{
    width: 60%;
  }

}


